/*<!--James Jackson-->
<!--VFW 1303-->
<!--Project 3-->*/

html {
    background-color: #020205;
}

form {
    background-color: #020205;
    color: #d8d59f;

}

a {
    color: #1abc9c;
    text-decoration: underline;
 }

a:hover {
    color: #2ecc71;
    text-decoration: none; }

h1 {
    font-size: 32px;
    font-weight: 900;
    color: #b6eeec;
    text-align: right;
}

nav {
    color: #b6eeec;
}

h1 {
    background-image: url(Images/sc170739.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    padding-top: 1.85em;
}

h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 2px;
}

p {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 4px;
    margin-top: 2px;
    color: #eaeded;
}

.startButton {
    color: #cad2d3;
}

.range {
    color: #2ecc71;
}


input[disabled],
input[readonly],
textarea[disabled],

textarea[readonly] {
    background-color: #eaeded;
    border-color: transparent;
    color: #cad2d3;
    cursor: default;
}

ul {
    color: #eaeded;
}

div {
    color: #cad2d3;
    cursor: default;
    font-size: 28;
}
.switch {
    height: 28px;
    width: 77px;
    border: 1px solid #979797;
    border-radius: 20px;
    margin-top: -5px;
    box-shadow: inset 0 1px 3px #BABABA, inset 0 12px 3px 2px rgba(232, 232, 232, 0.5);
    cursor: pointer;
    overflow: hidden;
}

.switch::before {
    content: "";
    display: block;
    height: 28px;
    width: 0px;
    position: relative;
    border-radius: 20px;
    box-shadow: inset 0 1px 2px #0063B7, inset 0 12px 3px 2px rgba(0, 127, 234, 0.5);
    background-color: #64B1F2;
}

.switch.on::before {
    width: 77px;
}


